<nav class="navbar navbar-default" ng-controller="MenuSuperiorController as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/menu-usuario">manutencao</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/#/produtos-cotados">Acompanhar produtos já cotados</a>
                </li>
                <li>
                    <a href="/#/gerenciar-produtos">Gerenciar produtos</a>
                </li>
                <li>
                    <a href="/#/listar-fornecedores">Fornecedores</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/#/" ng-click="vm.sair()">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>