<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Editar usuário</h4>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <form-group>
            <label>Perfil:</label>
            <select class="form-control" ng-model="vm.usuario.permissao">
                <option value="1">Usuário</option>
                <option value="2">Adiministrador</option>
            </select>
        </form-group>
        <form-group>
            <label>Nome:</label>
            <input class="form-control" type="text" ng-model="vm.usuario.nome">
        </form-group>
        <form-group>
            <label>E-mail:</label>
            <input class="form-control" type="text" ng-model="vm.usuario.email">
        </form-group>
        <form-group>
            <label>Senha:</label>
            <input class="form-control" type="text" ng-model="vm.usuario.senha">
        </form-group>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Sair</button>
    <button type="button" class="btn btn-success" ng-click="vm.editarUsuario()">Salvar</button>
</div>